* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #2d4059;
}

.all-content {
    display: flex;
    max-width: 70%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #eeeeee;
    box-shadow: 0 10px 6px 6px #c24d2c;
}

.left-pic {
    flex: 2;
    background: no-repeat center url(./images/ssbu3.jpg);
    background-size: cover;
}

#logo {
    background-color: rgb(238, 238, 238, 0.35);
    height: auto;
    width: 100%;
    object-fit: contain;
    margin-top: 35%;
    padding: 10px 45px;
}

.right-info {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
}

.top-text {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    box-shadow: ;
}

.form-input {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    box-shadow: 0 10px 4px -4px #2d4059, 0 -10px 6px -6px #2d4059;
}

form > p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

em {
    font-size: 10px;
}

ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    list-style: none;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    font-family: 'Courier New', monospace;
    padding: 1rem;
}

label {
    padding-bottom: 5px;
}

input {
    border-radius: 3px;
}

input:invalid {
    box-shadow: 1px 1px 0 1px red;
}

input:valid {
    box-shadow: 1px 1px 0 1px green;
}

.log-in-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    margin-bottom: 6rem;
}
a, a:link {
    color: #ff5722;
}

a:active, a:hover, a:visited {
    color: #c24d2c;
}

button {
    background-color: #ff5722;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px 45px;
}

button:hover {
    background-color: #c24d2c;
    cursor:pointer;
}